<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="utilis.TestListener" />
</listeners>
   <test name="demoshop24 test scenarios">
  		<parameter name="browser" value="chrome" />
    	<classes>
    			<class name="tests.Tests"/>    
    			<methods>
        			<include name="validateSearchCriteria"/>
       				<include name="validateAddToCart"/>
       				<include name="validateLogin"/>
      </methods>
    			
    	</classes> 
  </test>   	
</suite> <!-- Suite -->
